body {

  font-family: "Nunito Sans", sans-serif;

  background-color: #c7c19d;

}

p {font-family: "Nunito Sans", sans-serif;}



.dots-left::before {
    content: "Prev";
    margin-left: 5px;
    position: relative;
    font-weight: bold;
}

.dots-left::after {
    content: "Next";
    margin-left: 5px;
    position: relative;
    top: 15px;
    font-weight: bold;
}

.hidden {

  display: none;

}

section {
    overflow: hidden;
}



.section1 {

  background-color: #c7c19d;

  /*background-image: url("../../img/sandwich-bg.jpg");

  background-repeat: no-repeat;

  background-position: center left;

  background-size: auto 100%;*/

}



h3 {

  font-family: "Nunito Sans", sans-serif;

  text-shadow: none;

  color: #23252a;

  font-size: 25px;

}

.s-6-salad {
    width: 290px!important;
}

.avocado {
    width: 190px!important;
}



.section2 {
  background-color: #d9cdb6;
}

.section3 {
  background-color: #c5c9cc;
}
.section4 {
    background-color: #53424b;
  }
  .section6 {
    background-color: #9cadbf;
  }
  .section7 {
    background-color: #dbc1a0;
  }
  .section8 {
    background-color: #fefadb;
  }
  .section9 {
    background-color: #4f5569;
  }
  .section10 {
    background-color: #c59a70;
  }
  .section11 {
    background-color: #ca9794;
  }
  .section12 {
    background-color: #ac7477;
  }

#myCarousel9 .pagination {
    background-color: #4f5569;
}

section div.bigSlides {

  font-family: "Open Sans";

  font-style: normal;

  text-align: center;

  position: relative;

  top: 50%;

  transform: translateY(-50%);

}



.button {

  background-color: #f2cf66;

  border-bottom: 5px solid #d1b358;

  text-shadow: 0px -2px #d1b358;

  padding: 10px 40px;

  border-radius: 10px;

  font-size: 25px;

  color: #fff;

  text-decoration: none;

}



.relative {

  position: relative;

}



.absolute {

  position: absolute;

}



.carousel {

  height: 100vh !important;

}



.carousel-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('../../img/sec3-bg.png');
  background-position: center right;
  background-size: auto 60%;
  background-repeat: no-repeat;
  overflow: visible;
  z-index: 99;
  margin-top: -20px;
}

.carousel-inner .controls svg {
    width: 40px;
}


.carousel-inner > .item > img,

.carousel-inner > .item > a > img {

  width: 70%;

  position: relative;

  margin: auto;

}



.carousel {

  height: 500px;

  display: flex;

  align-items: center;

}



.carousel-control,

.carousel-indicators {

  position: static;

  background: none !important;

}



.carousel-control span {

  position: static;

  font-size: initial;

}



.carousel-indicators {

  margin: 0;

  color: #1c1b18;

  width: 100%;

  text-align: left;

  font-size: 15px;

  font-family: "Nunito Sans", sans-serif;

}



.carousel-indicators li {
  text-indent: 0;
  display: block;
  background: none;
  border: none;
  width: unset;
  height: unset;
  font-size: 20px;
  margin: 0;
  line-height: 28px;
  height: 28px;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carousel-indicators li:first-child {
    height: 0;
    line-height: 0;
}



.carousel-indicators .active {

  width: unset;

  height: unset;

  margin: 0;

  background: none;

  /*font-weight: bold;*/

  color: #a67734;

}

.carousel-indicators {
    max-height: 220px;
    overflow: hidden;
}








.carousel-fade .item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
  overflow: hidden;
  padding-top: 0%;
  position: relative;
  display: none;
  width: 100%;
}



.carousel-fade .item.active {

    display: block;

}



.carousel-fade .item:not(:first-child) {
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 80px;
    overflow: hidden;

}

.food-img {
    width: 100%;
    position: relative;
    z-index: -2;
}



.carousel-fade .item:first-child {

    height: initial;

}



span.absolute {

  font-size: 17px;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  font-family: "Nunito Sans", sans-serif;

  color: #23252a;
    z-index: -1;
}

.carousel-fade .item.active {

  overflow: visible;

}



.carousel-fade .item.active,

.carousel-fade .item-next.item-left,

.carousel-fade .item-prev.item-right {

  opacity: 1;

  transition: all 0.001s;

}



.carousel-fade .active.item-left,

.carousel-fade .active.item-right {

  opacity: 0;

  transition: all 0.001s;

}



.carousel-fade .item-next,

.carousel-fade .item-prev,

.carousel-fade .item.active,

.carousel-fade .active.item-left,

.carousel-fade .active.item-prev {

  transform: translateX(0);

  transform: translate3d(0, 0, 0);

}



.pagination {

    padding-left: 100px;

    min-width: 40%;

    text-align: left;

    height: 100vh;

    margin: 0;

    margin-top: -20px;

    display: flex;

    align-items: center;

    overflow: visible;

    background-image: url("../../img/left-pattern2.png");

    background-position: center center;

    background-size: 100% 100%;

    background-repeat: no-repeat;
    z-index: 99;

}



.pagination .absolute-img-top {

    position: absolute;

    top: 20px;

    right: -50px;

    width: 300px;

}

.pagination .absolute-img-bottom {

    position: absolute;

    bottom: 20px;

    right: 15%;

    width: 150px;

}



.pagination h1 {

    font-family: 'Playfair Display SC', serif;

    color: #4a433b;

    font-size: 30px;

    line-height: 36px;

    height: 36px;

    font-weight: bold;

    opacity: 0.9;

    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}



.carousel-indicators .active h1 {

    opacity: 1;

}

.carousel-inner .carousel-control.left {
    position: relative;
}

.carousel-inner .carousel-control.left::before {
    position: absolute;
    content: "Previous";
    color: #2f2f2f;
    text-shadow: none;
    font-family: 'Nunito Sans';
    top: -30px;
    width: 60px;
    left: 50%;
    margin-left: -30px;
    font-weight: bold;
}

.carousel-inner .carousel-control.right {
    position: relative;
}

.carousel-inner .carousel-control.right::before {
    position: absolute;
    content: "Next";
    color: #2f2f2f;
    text-shadow: none;
    font-family: 'Nunito Sans';
    top: -30px;
    width: 60px;
    left: 50%;
    margin-left: -30px;
    text-align: center;
    font-weight: bold;
}




.carousel-control, .carousel-control:focus {

    opacity: 1;

}



.carousel-control:hover {

    opacity: 0.5;

}



hr {

  /* border: 0.5px solid #2f2f2f; */

  height: 0;
  border-top: 1px solid #2f2f2f;

}



.pagination h1 span {

  font-size: 110%;

  color: #4a433b;

}



.carousel-control {

  font-size: 15px;

}


.controls-wrap {
    min-width: 70%;
}


.controls {

  display: flex;

  flex-direction: column;

  height: 72px;

  position: absolute;

  margin: 0;

  padding: 0;

  right: 0;

  top: 44px;

  z-index: 999;

}

.controls.absolute {

    width: 100%;

    flex-direction: row;

    left: 0;

    top: 50%;

    justify-content: space-between;

    margin: 0 auto;

    z-index: 9999;

}



.controls.absolute .carousel-control svg {

    transform: rotate(

        -90deg

        );

    transform-origin: center center;

}



.controls svg {

  width: 30px;

  height: auto;

}



.controls svg polygon {

  fill: #2f2f2f;

}

.carousel-caption {

    position: static;

    width: 90%;

    margin: 0 auto;

    padding: 0px 0px 0 0;

    /* max-width: 650px; */

}

.carousel-caption p {
  text-shadow: none;
  color: #23252a;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
}



.food-img {
  display: inline-block;
}



.food-img img {
  width: 100%;
  max-width: 700px;
  height: auto;
}



.s1-1 {

  top: -150px;

  left: 10px;

}

.s1-1 img {

  width: 270px;

}

.s1-3 {
    top: -120%;
    right: 10%;
}


.s2-1 {
    top: -15%;
    left: -15%;
}
.s2-2 {
    top: -16%;
    left: 40%;
}
.s2-3 {
    top: -10%;
    right: 0;
}
  


.s1-2 {
    top: -100%;
    left: 35%;
}
.s1-2 img {
  width: 100px;
}
.s1-3 img {
    width: 70px;
}
  

.s2-1 img {
    width: 200px;
}
.s2-2 img {
  width: 150px;
}
.s2-3 img {
    width: 270px;
}
.tortilla-s2 {
    left: 10%;
    width: 50%!important;
}

.bakery-s3 {
    width: 60%!important;
    max-width: 320px;
    right: 0!important;
    bottom: 0!important;
}

.breakfast-s4-1 {
    width: 40%!important;
    max-width: 250px;
    right: 2%!important;
    bottom: 0!important;
}
.breakfast-s4-2 {
    width: 60%!important;
    max-width: 300px;
    left: 10%!important;
    bottom: 0!important;
}

.s-5-potages {
    width: 70%!important;
    max-width: 330px;
    right: 10%!important;
    bottom: 0!important;
}

#myCarousel4 .pagination {
    background-color: #53424b;
}

#myCarousel4 p, #myCarousel h3 {
    color: white;
}

.s4-3 {
    left: 50%;
    top: -50%;
}

.section5 {
    background-color: #cab3ab;
}

.s4-4 {
    right: 10%;
    bottom: 0;
}
.s4-7 {
    right: 25%;
    bottom: 0; 
}


.s3-2 {
    left: 0%;
    top: 0%;
}
.s3-3 {
    left: 50%;
    top: -10%;
}
.s3-4 {
    right: 10%;
    top: 10%;
}

.s3-4 img {
    width: 150px;
}
.s3-2 img {
    width: 150px;
}
.s3-3 img {
    width: 150px;
}

.s4-3 {
    top: -10%;
    left: 45%;
}

.s4-5 {
    top: 10%;
    left: 10%;
}

.s5-2 {
    left: 50%;
    top: -30%;
    margin-left: -75px;
}

.s5-2 img {
    max-width: 150px;
}

.s5-3 {
    top: -20%;
    right: 20%;
}

.s5-3 img {
    max-width: 150px;
}

.s5-4 {
    right: 0;
    top: 10%;
}

.s5-4 img {
    max-width: 200px;
}

.spread {
    max-width: 200px;
}
.flour {
    max-width: 200px;
}

.s5-5 {
    left: -5%;
    top: -30%;
}



.s5-5 img {
    max-width: 270px;
}


.s1-4,
.s2-4 {
    bottom: -80%;
    right: 5%;
}

.s1-4 img,
.s2-4 img {
  width: 123px;
}

.s1-7 {
    bottom: -25%;
    left: 10%;
}

.s2-7 {

  top: -50%;

  left: 5%;

}



.s1-7 img {

  width: 100px;

}



.s2-7 img {

  width: 200px;

}



.s1-6 {

  top: -5%;

  left: 75%;

}



.s2-6 {

  top: -30%;

  left: 60%;

}



.s1-6 img,

.s2-6 img {

  width: 70px;

}



.s1-5 {

  top: -10%;

  left: 10%;

}



.s2-5 {

  bottom: -20%;

  left: 30%;

}



.s1-5 img,

.s2-5 img {

  width: 70px;

}

.s6-5 {
    right: 0;
    top: -20%;
}
.s6-5 img {
    max-width: 150px;
}

.s6-4 {
    left: 50%;
    top: -14%;
}

.s6-4 img {
    max-width: 150px;
}

.s6-2 {
    left: -10%;
    bottom: -10%;
}

.s6-2 img {
    max-width: 70px;
}

.s6-1 {
    top: 0;
    left: 30%;
}

.s6-3 {
    right: 5%;
    bottom: -10%;
}
.s6-3 img {
    width: 100px;
}

.s6-1 img {
    width: 50px;
}
#myCarousel7 .food-img img {
    max-width: 600px;
}

.s7-5 {
    right: 10%;
    top: 10%;
}

.s7-5 img {
    max-width: 150px;
}

.s7-4 {
    top: -40%;
    left: 40%;
}

.s7-4 img {
    max-width: 120px!important;
}

.s7-1 {
    top: -10%;
    left: -10%;
}

.s7-3 {
    right: 0;
    bottom: 10%;
}

.s7-3 img {
    max-width: 200px;
}

.s7-2 {
    bottom: 0;
    left: -10%;
}
.s7-2 img {
    width: 70px;
}

.s7-left {
    left: 20%;
    max-width: 300px!important;
    width: 70%!important;
}

.s7-left-bottom {
    width: 65%!important;
    max-width: 300px;
    left: 10%;
}

.s8-6 {
    right: 5%;
    top: 0;
}

.s8-6 img {
    max-width: 150px;
}

.s8-5 {
    left: 50%;
    top: -10%;
}

.s8-5 img {
    max-width: 150px;
}

.s8-3 {
    left: 0%;
    bottom: -15%;
}

.s8-4 {
    right: 10%;
    bottom: -15%;
}

.s8-4 img {
    max-width: 120px;
}

.s8-1 {
    left: 20%;
    top: 0;
}

.s8-1 img {
    max-width: 150px;
}

.s-9-bottom {
    width: 70%!important;
    max-width: 300px!important;
    left: 20%;
}

#myCarousel9 p, #myCarousel9 h3 {
    color: white;;
}
.s9-2 {
    left: 40%;
    top: -30%;
}
.s9-2 img {
    width: 150px;
}
.s9-3 {
    right: 5%;
    top: -10%;
}
.s9-3 img {
    width: 150px;
}
.section-footer {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.section-footer .box {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.section-footer .box img {
    width: auto;
}
#footer {

  display: flex;

  align-items: center;

  background-color: #d7c094;

  justify-content: space-between;

  padding: 1em 1em;

  color: #7d6e5c;

  font-size: 12px;

}



.footer-logo img {

  width: 70px;

}



#footer a {

  color: #7d6e5c;

  text-decoration: none;

}



#footer a:hover {

  opacity: 0.8;

}
footer {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2em 1em;
}

footer a {
    text-decoration: none;
    color: initial;
    opacity: 0.65;
    color: #7d6e5c!important;
}
footer a:hover {
    opacity: 1;
    text-decoration: none;
}
.footer-wrapper {
    background-color: #ffffff;
    border-top: 1px solid #d7c09433;
}
#footer a {
    color: #7d6e5c!important;
    text-decoration: none;
  }
#footer a:hover {
    opacity: 0.8;
    text-decoration: none;
}
.soc div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc div a {
  margin: 0 5px;
}

.s-10-left-top {
    width: 70%!important;
    right: 10%;
    max-width: 350px;
}
.s-10-left-bottom {
    width: 70%!important;
    left: 10%;
    max-width: 350px;
}

.s10-3 {
    right: 5%;
    top: 0;
}
.s10-3 img {
    max-width: 200px;
}
.s10-2 {
    top: -30%;
    left: 30%;
}
.s10-2 img {
    max-width: 150px;
}
.s10-6 {
    top: -25%;
    right: 20%;
}
.s10-6 img {
    width: 120px;
}
.s10-7 {
    left: -5%;
    bottom: -10%;
}
.s10-7 img {
    max-width: 150px;
}
/* .s10-4 {
    right: 0;
    bottom: -20%;
}
.s10-4  img {
    max-width: 150px;
} */
.s11-left-bottom {
    width: 70%!important;
    left: 10%;
    max-width: 400px!important;
}
.s11-left-top {
    width: 70%!important;
    right: 10%!important;
    max-width: 250px;
}
.s11-3 {
    top: 0;
    right: 5%;
}
.s11-2 {
    top: -15%;
    left: 40%;
}
.s11-4 {
    bottom: 10%;
    right: 10%;
}
.s11-4 img {
    max-width: 180px;
}
.s11-7 {
    left: -10%;
    bottom: -10%;
}
.s11-5 {
    top: -10%;
    left: 0;
    
}
.s11-5 img {
    max-width: 250px;
}
#myCarousel11 p, #myCarousel11 h3 {
    color: white;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 500px;
    max-width: 600px;
    width: 100%;
}
.s12-bottom-left {
    width: 70%!important;
    left: 10%;
    max-width: 350px!important;
}
.max-height-img {
    max-height: 450px;
    width: auto!important;
}
#myCarousel12 p, #myCarousel12 h3 {
    color: white;
}
.s12-3 {
    right: 5%;
    top: 0;
}
.s12-3 img {
    max-width: 180px;
}
.s12-2 {
    top: -10%;
    left: 30%;
}
.s12-2 img {
    max-width: 180px;
}
.s12-4 {
    right: 5%;
    bottom: 0;
}
.s12-4 img {
    max-width: 180px;
}
.s12-7 {
    left: 5%;
    bottom: 0;
}
.s12-7 img {
    max-width: 180px;
}
/* #myCarousel1 {

} */
#myCarousel2 .pagination {
    background-image: url("../../img/recatering/tortilje.png");
}
#myCarousel2 .carousel-inner {
    background-image: url('../../img/tortilla/sec-1.png');
    background-position: center;
}

#myCarousel3 .pagination {
    background-image: url("../../img/recatering/bakery.png");
}
#myCarousel3 .carousel-inner {
    background-image: url('../../img/bakery/ba4.png');
    background-size: 70%;
    background-position: center;
}

#myCarousel4 .pagination {
    background-image: url("../../img/recatering/breakfast.png");
}
#myCarousel4 .carousel-inner {
    background-image: url('../../img/breakfast/br3.png');
}

#myCarousel5 .pagination {
    background-image: url("../../img/recatering/potages.png");
}
#myCarousel5 .carousel-inner {
    background-image: url('../../img/potages-soups/p6.png');
}

#myCarousel6 .pagination {
    background-image: url("../../img/recatering/salads.png");
}
#myCarousel6 .carousel-inner {
    background-image: url('../../img/salads/saladsbg.png');
}

#myCarousel7 .pagination {
    background-image: url("../../img/recatering/main-dishes-and-side-dishes.png");
}
#myCarousel7 .carousel-inner {
    background-image: url('../../img/maindishes-sd/m7.png');
    background-position: left center;
}

#myCarousel8 .pagination {
    background-image: url("../../img/recatering/main-dishes-with-sides.png");
}
#myCarousel8 .carousel-inner {
    background-image: url('../../img/maindishes-ws/md10.png');
}

#myCarousel9 .pagination {
    background-image: url("../../img/recatering/healthy-bowls.png");
}
#myCarousel9 .carousel-inner {
    background-image: url('../../img/healthy/h7.png');
    background-position: center;
}

#myCarousel10 .pagination {
    background-image: url("../../img/recatering/sweets.png");
}
#myCarousel10 .carousel-inner {
    background-image: url('../../img/sweets/sw9.png');
    background-position: top center;
}

#myCarousel11 .pagination {
    background-image: url("../../img/recatering/smoothies.png");
}
#myCarousel11 .carousel-inner {
    background-image: url('../../img/smoothies/bg.png');
    background-position: top center;
}

#myCarousel12 .pagination {
    background-image: url("../../img/recatering/freshly-squeezed-juices.png");
}
#myCarousel12 .carousel-inner {
    background-image: url('../../img/freshly/f6.png');
}

.dots.dots-left li {
    position: relative;
}

.dots.dots-left li a::after {
    position: absolute;
    content: "Sandwiches";
    top: 1px;
    left: 100%;
    margin-left: 10px;
    color: white;
    border: 1px solid #ffffff;
    padding: 1px 12px;
    line-height: 1.4;
    padding-top: 2px;
    border-radius: 20px;
    display: none;
    white-space: nowrap;
}
.dots.dots-left li:hover > a::after {
    display: block;
    background: #d5b06e;
}

.dots.dots-left li:first-child a::after {
    content: "SANDWICHES"
}   
.dots.dots-left li:nth-child(2) a::after {
    content: "TORTILLA WRAPS"
}   
.dots.dots-left li:nth-child(3) a::after {
    content: "BAKERY PRODUCTS"
}   
.dots.dots-left li:nth-child(4) a::after {
    content: "BREAKFAST"
}   
.dots.dots-left li:nth-child(5) a::after {
    content: "POTAGES ANS SOUPS"
}   
.dots.dots-left li:nth-child(6) a::after {
    content: "SALADS"
}   
.dots.dots-left li:nth-child(7) a::after {
    content: "MAIN DISHES AND SIDE DISHES"
}   
.dots.dots-left li:nth-child(8) a::after {
    content: "MAIN DISHES WITH SIDES"
}   
.dots.dots-left li:nth-child(9) a::after {
    content: "HEALTHY BOWLS"
}   
.dots.dots-left li:nth-child(10) a::after {
    content: "SWEETS AND DESSERTS"
}   
.dots.dots-left li:nth-child(11) a::after {
    content: "SMOOTHIES"
}   
.dots.dots-left li:last-child a::after {
    content: "FRESHLY SQUEEZED JUICES"
}  

@media only screen and (min-width: 1024px) {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
  
    /* Hide scrollbar for IE, Edge add Firefox */
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }
}


@media only screen and (max-width: 1540px) {
    .food-img img.main-img {
        width: 100%;
        max-width: 550px;
        height: auto;
    }
}


@media only screen and (max-width: 1024px) {
    .carousel {
        flex-direction: column;
        margin-top: 100px;
    }
    .manu-title {
        display: none;
    }
    span.absolute {
        display: none;
    }
    .main-img.mobile-visible {
        margin: 0 auto;
    }
    .pagination h1.small-visible {
        margin-top: 1em;
        color: black;
    }
    .pagination {
        width: 100%;
        z-index: 9999;
        position: static;
        height: 10%!important;
        align-items: start;
        background-image: unset!important;
    }
    .carousel-indicators.display-block {
        display: block!important;
        overflow: auto;
        position: static;
        height: auto;
    }
    .controls.absolute {
        top: 50px;
        z-index: 9;
    }
    #main {
        height: 100vh;
        overflow: auto;
        position: static;
    }
}